:root{
  --colorPrimaryText: white;
  --color1:#0f9;
  --color2: tomato;
  --color3: #fff35c;
  --color4: #0cf;
}
.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
} */


.App-link {
  color: #61dafb;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav-bar ul li{
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  padding: 0.2rem;
  box-sizing: content-box;
}
.nav-bar ul li:hover{
 background-color: dimgrey;

}
.nav-bar ul li a {
  text-decoration: none;

}
